// fonts
$sans: Calibri, "Segoe UI", Optima, Arial, sans-serif !default;
$serif: Cambria, Georgia, serif !default;

// misc
$px-only: false; // IEfix: http://davidwalsh.name/rem-px-browser-function-sass
$pixelBase: 16;