head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title Gifty
	meta(name="description", content="gift economy social network")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet", href="app.css")
	script(src="vendor/live.js")
