head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title Gifty
	meta(name="description", content="gift economy social network")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	| <!---->
	| <!--[if (gt IE 8) | (IEMobile)]><!-->
	link(rel="stylesheet", href="app.css")
	| <!--<![endif]-->
	| <!--[if (lt IE 9) & (!IEMobile)]>
	link(rel="stylesheet", href="app-ie.css")
	| <![endif]-->
	if livejs
		script(src="vendor/live.js")
