extends layout

block content
	h1 Gifty
	p Hello world!
	.colortest
		#brand1 Gifty1
		#accent1 Accent1
		#function1 Function1
		#hilight1 Hilight1
	.colortest
		#brand2 Gifty2
		#accent2 Accent2
		#function2 Function2
		#hilight2 Hilight2
	.colortest
		#brand3 Gifty3
		#accent3 Accent3
		#function3 Function3
		#hilight3 Hilight3
